:root {
  --font-size-base: 1.6rem; // 16px 
  --font-size-x-large: 4.4rem; //44px 
  --font-size-large: 3.4rem; //30px
  --font-size-medium: 2.0rem; // 20px
  --font-size-small: 1.4rem; //14px
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --background-main: hsla(0, 0%, 7%, 1);
  --background-secondary: hsla(0, 0%, 8.24%, 1);
  --fixed-white: hsla(0, 0%, 100%, 1);
  --color-primary: hsla(183, 100%, 44%, 1);
  --color-text: hsla(0, 0%, 0%, 1);
  --color-text-light: hsla(0, 0%, 77%, 1);
}
* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body,
html {
  height: 100vh;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  background-color: var(--background-main);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  width: 100%;   
  background-color: var(--background-main);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    opacity: 0.5;
    filter: blur(50%);
    background-color: rgba(75, 72, 72, 0.445);
  }
}


@media screen and (max-width: 768px) {
  header::after {
    display: none;
  }

  
}



