:root {
    --cyan: hsla(184, 100%, 44%, 1);
    --fixed-white: hsla(0, 0%, 100%, 1); 
    --main-bg: hsla(0, 0%, 7%, 1);
    --secondary-bg: hsla(0, 0%, 7%, 1);
    --gray: hsla(0, 0%, 77%, 1);       

}

